%%-*- mode: erlang -*-

{deps, 
 [
  {webmachine, "1.10.*", {git, "git://github.com/basho/webmachine", {tag, "1.10.6"}}},
  {erlydtl, ".*", {git, "git://github.com/erlydtl/erlydtl"}}

{erlydtl_opts, 
 [
  {doc_root, "templates"},
  {out_dir, "ebin"},
  {source_ext, ".html"},
  {module_ext, "_dtl"}
 ]}.
